*{
    font-family: arial;
    }
    
    body {
        margin: 0;
        background-color: #72AAB5;
        
    }

    
    /* Começo do Header */
    .cabecario {
        margin: 20px 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    #logo {
        width: 60%;
        height: 60%;
    }
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    a{
        text-decoration: none;
        color: #ffffff;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-size: 15pt;
        font-weight: 400;
    }
    
    ul img{
        width: 60%;
        height: 50%;
    }
    /* Fim do Header */

    /* Começo da Calculadora */


    .corpo {
        margin-top: 10px;
        display: flex;
    }

    .corpo .container {
        width: 92%;
        margin: auto;
        display: flex;

    }

    .calc {
        border: 1px black solid;
        padding: 50px 25px;
        border-radius: 50px;
        width: 31%;
        height: 650px;
        background-color: #B1C2CC;
    }

    .titulo {
        display: flex;
        justify-content: space-evenly;
    }

    .calc h2 {
        text-align: center;
        font-size: 30px;
    }

    .calc img {
        width: 75px;
        height: 100px;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
        
    }

    .form span {
        font-size: 30px;
        margin-left: 7px;
        margin-bottom: 11px;
    }

    .form input {
        border: 1px solid;
        border-radius: 8px;
        height: 40px;      
    }

    .form ::placeholder {
        font-size: 15px;
        padding-left: 10px;
        color: #7A9BAF;
    }

    .form button {
        border: 1px black solid; 
        border-radius: 8px;
        height: 75px;
        background-color: #7B899B;
        margin-top: 30px;
    }

    /* Fim da Calculadora */

    /* Começo das Mensagens */

    .conjMsgs {
        flex-direction: column;
        margin-left: 8%;
        text-align: center;
        width: 55%;
    }

    .msg1 {
        border: 1px black solid;
        padding: 50px 25px;
        border-radius: 50px;
        
        height: 160px;
        background-color: #B1C2CC;
    }

    .msg2 {
        border: 1px black solid;
        padding: 50px 25px;
        border-radius: 50px;        
        height: 220px;
        background-color: #B1C2CC;
        margin-top: 10%;
    }

    .conjMsgs span {
        font-size: 45px;
    }