@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.tituloCadastro{
    display: flex;
    justify-content: baseline;
    margin-left: 25%;
    font-family: 'Inter', sans-serif;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}


tr:hover {background-color: #D6EEEE;}

input{
    border: none;
}

.dropbtn {
    background-color: var(--corBody);
    padding: 16px;
    font-family: var(--fontePrincipal);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: var(--corBody);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--corBody)
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--corBody);
}

button{
    background-color: #288396;
  
    border-radius: 5px;
}