@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body {
    font-family: 'Inter'
}

.titulo {
    display:flex; 
    margin-left: 10%; 
    margin-top: 2%;
}

.corpo {
    width: 80%; 
    margin-left: 20%;
    display: flex;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dados {
    display: flex; 
    justify-content: start;
    margin-top: 2%;
    margin-left: 8%;
    width: 106%;
}

.titulo h1 {
    font-size: 40px;
}

.endereco {
    flex-direction: column;
    margin-right: 8%;
    border: #288396 solid 2px;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 50%;
}

.endereco h3 {
    text-align: center;
    font-size: 24px;
}

hr {
    width: 90%;
    margin: 0;
}

.contexto {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.outros {
    display: flex;
    flex-direction: column;
    width: 100% ;
}

.outros .contexto {
    margin-top: 5%;
    padding: 2% 0;
}

.atributo {
    font-size: 21px;
    margin-bottom: -4%;
    color: black;
}

input {
    margin-bottom: -6%;
    color: rgb(82, 82, 82);
    border: 0;
    background-color: #D9D9D9;
}

.container2 {
    flex-direction: column;
    border: #288396 solid 2px;
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 50%;
}

.botao {
    margin-top: 2%;
    display: flex;
    margin-left: 23%;
}

button {
    border: black solid 2px;
    border-radius: 35px;
    width: 225px;
    height: 45px;
    background-color: #288396;
    color: white;
    font-size: 21px;   
}

.bolinhas {
    margin-right: 6%;
}

a, h3, h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
p{
    font-weight: bold;
}
.txtHeader{
    font-size: 18px;
}