@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

body {
  margin: 0;
  display: flex;
}

a,h3,h4,h2,p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-decoration: none;
}
p {
  font-weight: bold;
}
hr{
    width:230px; 
    border: 1px solid rgb(255,255,255, 0.6) ;
}
#espacamentoTopo{
    margin-top: 18px;
}

/*Classes do Menu*/
.header {
    background-color: #72aab5;
    width: 20%;
    height: 300vh;
    display: flex;
    justify-content: center;
    position: fixed;
  }
  .txtHeader {
    font-size: 18px;
}
/*Classes de Alinhamento*/
.flexCenter{
    display:flex;
    justify-content: center;  
}
.flexCenterAlignSelfCenter{
    display: flex;
    align-self: center; 
    justify-content: center;
}
.flexCenterAlignItemsCenter{
    display:flex; 
    align-items: center;
    justify-content: center;
}
.flexStartAlignSelfCenter{
    display: flex; 
    align-self: center;
    justify-content: start;
}
.flexSpaceAround{
    display:flex;
    justify-content: space-around;
}
.widthiconHeader{
    width: 20%;
    margin-right: 10px;
}
.divConteudo{
    width: 80%; 
    margin-left: 20%;
}
/*Card KPIS*/
.espacamentoCards{
    display:flex;
    justify-content: space-evenly; 
    margin-left: 30px;
    margin-top: 40px;
}
.cards{
    width: 280px;
    height: 214px; 
    border-radius: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}


/*Card PRODUTOS*/
.divCardsProduto{
    justify-content: center; 
    display: flex;
    margin-top: 78px; 
    margin-bottom: 110px;
}
.divConteudoCardsProduto{
    width: 80%;
    height: 50vh; 
    background-color: #4E7A83;
    border-radius: 10px;  
}
.backgroudInfoProdutos{
    width: 80%;
    background-color:#F5F1E6;
    margin-left: 10px;
    height: 35vh;
    border-radius: 10px;
}
.hrProdutos{
    width:612.03px;
    border: 1px solid black;
}
.backgroundTempMaxMin{
    margin-bottom:10px;
    background: rgba(109, 172, 181, 0.71);
    width: 295px;
    border-radius: 20px;
    height: 35px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.btnPassarProduto{
    align-self: center; 
    cursor: pointer;
}