@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body {
    font-family: 'Inter'
}

.titulo {
    display:flex; 
    margin-left: 10%; 
    margin-top: 2%;
}

.corpo {
    width: 80%; 
    margin-left: 20%;
    display: flex;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dados {
    display: flex; 
    justify-content: start;
    margin-top: 2%;
    margin-left: 8%;
}

.titulo h1 {
    font-size: 40px;
}

.endereco {
    flex-direction: column;
    margin-right: 8%;
    border: #288396 solid 2px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 4%;
}

.endereco h3 {
    text-align: center;
    font-size: 24px;
}

.dados hr {
    width: 90%;
    margin: 0;
    background-color: black;
    margin-bottom: 14%;
}

.contexto {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.outros {
    display: flex;
    flex-direction: column;
    width: 100% ;
    justify-content: center;
}

.outros h3 {
    text-decoration: underline;
    color: black;
}

.outros .contexto {
    margin-top:10%;
    padding: 2% 0;
}

.atributo {
    font-size: 21px;
    color: black;
    margin-bottom: 5%;
}

input {
    color: rgb(82, 82, 82);
    border: 0;
    margin-bottom: 2%;
}

.container2 {
    flex-direction: column;
    border: #288396 solid 2px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 3.5%;
    
}

.botao {
    margin-top: 2%;
    display: flex;
}

button {
    border: black solid 2px;
    border-radius: 5px;
    width: 225px;
    height: 45px;
    background-color: #288396;
    color: white;
    font-size: 21px;   
    cursor: pointer;
}

.alteracao {
    margin-top: 4%;
    font-size: 13px;
    color: rgb(82, 82, 82);
}


a, h3, h4{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
p{
    font-weight: bold;
}
.txtHeader{
    font-size: 18px;
}