.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    /*border: 30px;*/
    margin: 15px;
    padding: 10px;
    border-bottom-color: #BAB372;
}

textarea::placeholder{
    color: rgba(0, 0, 0, 0.644);
}

.trocar{
    background-color: #f5f1e6;
    margin-top: 10px;
    margin-left: 0;
}

.trocar a{
    text-decoration: none;
    font-size: x-small;
    Font-family: Inter;
    Font-style: Semi Bold;
    display: flex;
    justify-content: center;
}

.alinhamento{
   background-color: #f5f1e6;
}
