
    
body {
    margin: 0;
    background: #76c3cf;
    
}

.login {
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    margin-left: 20%;
    margin-top: 90px;
}


.cardLogin {
    background: #499EAE;
    width: 596px;
    height: 580px;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
    
}

.imagemLogo{
    width: 50%;
    height: 50%;
    margin-top: 25%;
    margin-left: 25%;
}


/* Formulário */


.form{
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 532px;
    height: 511px;
    margin-top: 34px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 500;
}

.campos{
    margin-left: 52px;
    margin-top: 100px;
} 

.inputs {
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
}

.input {
  font-family:'Encode Sans Condensed', sans-serif;
  width: 416px;
  border: 0;
  border-bottom: 2px solid #BAB372;
  outline: 0;
  font-size: 20px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input:placeholder {
    color: transparent;
}

input:placeholder-shown ~ .input_label {
    font-size: 20px;
    cursor: text;
    top: 20px;
}

.input:required, .input:invalid {
    box-shadow: none;
  }

.input_label {
    position: absolute;
    margin-bottom: 0;
    display: none;
    transition: 0.2s;
    font-size: 20px;
    color: #000;
}

.input:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, #499EAE, #499EAE);
    border-image-slice: 1;
}
.input:focus ~ .input_label {
    position: absolute;
    margin-bottom: 0;
    display: inline;
    transition: 0.2s;
    font-size: 20px;
    color: #11998e;
    font-weight: 500;
}


/* Botões */


.botoesTexto{
    display: flex;
    flex-direction: column;
    margin-top: 18%;


}

.botoesLoginCadastro{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    gap: 52px;
    align-items:baseline;
}

.botaoLogin {
    background: #BAB372;
    border: none;
    border-radius: 20px;
    width: 50%;
    padding: 15px;
    font-size: 20px;
}

.cadastrar {
    color: #000000;
    text-decoration: underline;
    font-size: 22px;
}

.textoRecuperar a {
    color: #000;
    font-size: 15px;
    margin-left: 20px;
}



/* Cadastro */


.containerCadastro{
    display: flex;
    margin-left: 15%;
    margin-top: 70px;
}

.cardCadastro {
    background: #499EAE;
    width: 650px;
    height: 700px;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
    
}

.formCadastro{
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 586px;
    height: 631px;
    margin-top: 34px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 500;
}

.camposCadastro{
    margin-left: 52px;
    margin-top: 50px;
} 

.inputsCadastro {
    padding: 1px;
    margin-bottom: 30px;
    width: 62%;
}