
    
body {
    margin: 0;
    background: #76c3cf;
    
}

.login {
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    margin-left: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
}


.cardLogin {
    background: #499EAE;
    width: 60%;
    height: 115%;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
    
}

.imagemLogo{
    width: 40%;
    height: 55%;
    margin-top: 10%;
    margin-left: 25%; 
}

.imagemFrozenTime {
    margin-left: 25%;
    
}


/* Formulário */


.form{
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 55%;
    height: 105%;
    margin-top: 2%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 500;
}

.campos{
    margin-left: 52px;
    margin-top: 12%;
} 

.inputs {
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
}

.input {
  font-family:'Encode Sans Condensed', sans-serif;
  width: 170%;
  border: 0;
  border-bottom: 2px solid #BAB372;
  outline: 0;
  font-size: 20px;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input:placeholder {
    color: transparent;
}

input:placeholder-shown ~ .input_label {
    font-size: 20px;
    cursor: text;
    top: 20px;
}

.input:required, .input:invalid {
    box-shadow: none;
  }

.input_label {
    position: absolute;
    margin-bottom: 0;
    display: none;
    transition: 0.2s;
    font-size: 20px;
    color: #000;
}

.input:focus {
    padding-bottom: 6px;
    font-weight: 500;
    border-width: 3px;
    border-image: linear-gradient(to right, #499EAE, #499EAE);
    border-image-slice: 1;
}
.input:focus ~ .input_label {
    position: absolute;
    margin-bottom: 0;
    display: inline;
    transition: 0.2s;
    font-size: 20px;
    color: #11998e;
    font-weight: 500;
}


/* Botões */


.botoesTexto{
    display: flex;
    flex-direction: column;
    margin-top: 18%;


}

.botoesLogin{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    gap: 52px;
    align-items:baseline;
}

.botoesCadastro {
    display: flex;
    flex-direction: row;
    margin-bottom: 60%;
    gap: 52px;
    /* align-items: baseline; */
    /* padding-bottom: 50px; */
}

.botaoLogin {
    background: #BAB372;
    border: none;
    border-radius: 15px;
    width: 40%;
    padding: 2%;
    font-size: 18px;
}

.botaoProximo {
    background: #BAB372;
    border: none;
    border-radius: 15px;
    width: 40%;
    padding: 2%;
    font-size: 18px;
}

.cadastrar {
    color: #000000;
    text-decoration: underline;
    font-size: 18px;
}

.textoRecuperar a {
    color: #000;
    font-size: 12px;
    margin-left: 5%;
}



/* Cadastro */


.containerCadastro{
    /* display: flex;
    margin-left: 15%;
    margin-top: 70px; */
    display: flex;
    margin-left: 25%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.cardCadastro {
    /* background: #499EAE;
    width: 650px;
    height: 700px;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582); */
    background: #499EAE;
    width: 75%;
    height: 70%;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
}

.formCadastro{
    /* display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 586px;
    height: 631px;
    margin-top: 34px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 500; */
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 60%;
    height: 65%;
    margin-top: 2%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 500;
    
}



.camposCadastro{
    margin-left: 10%;
    margin-top: 20px;
    
} 

.inputsCadastro {
    padding: 1px;
    margin-bottom: 15px;
    width: 55%;
}

.inputCadastro {
    font-family:'Encode Sans Condensed', sans-serif;
    width: 160%;
    border: 0;
    border-bottom: 2px solid #BAB372;
    outline: 0;
    color: #000000;
    padding: 5px;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 15px;
}