@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

/* *{
    font-family: 'Encode Sans Condensed', sans-serif;
    } */
    
    body {
        /* margin: 0; */
        /* background-color: #6DACB5; */
        background:
        linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,
        url('../img/backgroundNovo.png');
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: cover;  
        height: 100%;
        margin: 0;
    }

    
    

    /* Começo da Calculadora */


    .corpo {
        margin-top: 10px;
        display: flex;
    }

    .corpo .container {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        display: flex;
        margin-top: 3%;
        gap: 10%;
    }

    .calc {
        /* border: 1px black solid; */
        padding: 3% 1%;
        border-radius: 50px;
        width: 35%;
        height: 40%;
        background-color:  #d9d9d9c9;
        margin-left: 5%;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    }

    .titulo {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }

    .container .titulo img {
        width: 15%;
        height: 15%;
    }

    .calc h2 {
        text-align: center;
        font-size: 50%;
    }


    .form {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        
    }

    .form span {
        font-size: 25px;
        margin-left: 7px;
        margin-bottom: 11px;
    }

    .form input {
        border: none;
        border-radius: 8px;
        height: 40px;  
        box-shadow: 3px 3px rgba(0, 0, 0, 0.2);    
    }

    .form ::placeholder {
        font-size: 15px;
        padding: 10px;
        color: #7A9BAF;

    }

    .form button {
        border: none; 
        border-radius: 8px;
        width: 60%;
        padding: 15px;
        background-color: #288396;
        margin-top: 30px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
        align-self: center;
        font-size: 20px;
        font-weight: 500;
    }

    /* Fim da Calculadora */

    /* Começo das Mensagens */

   .todasMensagens {
    display: flex;
    flex-direction: column;
    gap: 20px;
   }

   .mensagem {
    display: flex;
    align-items: center;
    width: 550px;
    height: 40%;
    background-color: #d9d9d9c9;
    border-radius: 40px;
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
   }

   .dados {
    color: #288396;
   }

    

    