/* Começo do css da página de contato */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:&display=swap');
/* Início do header */
header{
    top: 0;
    padding: 1px 0;
}


.cabecalho {
    margin: 20px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
}

#logo {
    width: 30%;
    height: 30%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu {
    width: 60%;
}

.menu a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 300;
}

ul img{
    width: 65%;
    height: 50%;
}
/* Fim do Header */
.conteudo {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    
}

.faq {
    width: 40%; 
    color: #E6E6E6;
    margin-left: 10%;
    font-family: 'Inter', sans-serif;

}

.faq h1 {
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    font-weight: 100;
    font-size: 32px; 
    margin-top: 2%;  
}

.faq details {
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 3.5%;
    padding: 0.5%;
    border-radius: 5px;

}

.faq summary {
    /* width: 80%;  */
    font-size: 17px;
}

.body_contato{
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384))repeat, url('../img/background_contato.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 0;
    overflow-x: hidden;
} 
.contato {
    margin-left: 30%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 100%;
}

#rua{
    display: flex;
    color: white;
    margin-left: 7%;
}
#rua img{
    margin-top: 3%;
    width: 30px;
    height: 30px;
}
#rua p {
    width: 70%;
    text-align: center;
}
iframe {
    border-radius: 15px;
    height: 200px;
    width: 400px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
#info {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
}
#whats, #telefone, #email{
    display: flex;
    color: white;
}
#info img {
    margin-top: 8%;
    width: 20px;
    height: 20px;
}
#info p {
    margin-top: 10%;
    font-size: 12px;
    padding-left: 5px;
}

#whats, #telefone {
    margin-top: 0.8%;
}


/* .localizacao p {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 15px;
} */


/* .mapa {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
} */

/* #rua{
    display: flex;
    align-items: center;
    text-align: center;
    width: 20%;
}

#rua img{
    width: 45px;
    height: 45px;
}

iframe {
    border-radius: 15px;
    height: 200px;
    width: 300px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}


#info {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 29%;
}

#info p {
    margin: 0;
    font-weight: 500;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 18px;
}

#info img {
    width: 20px;
    height: 20px;
}

#whats, #telefone, #email {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 15pt;
} */


.contatos {
    width: 100%;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 38%;
    
}

.formulario h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
    color: #E6E6E6;
    font-weight: 550;
    margin-bottom: 0;

    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
} 

.formulario a {
    color: white;
    margin-top: 2%;

}

/* form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input, #txtArea{
    background-color: rgb(239, 233, 233, 0.8);
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #174556;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25); 
}

#iptNome, #iptEmail, #iptCelular {
    height: 6px;
    width: 270px;
}

#txtArea {
    width: 270px;
    font-family: 'Noto Sans', sans-serif;
    resize: none;
}

#btnMsg {
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    background-color: #0B0368;
    color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
}  */

/* Começo do css do footer */


footer {
    background-color: #8BC3DE;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
    text-decoration: none;
    color: #000000;
}

.footerConteudo {
    width: 88%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    color: #000000;
}

.logoFooter {
    display:flex;
    flex-direction: column;
    gap: 0;
    
    padding-left: 0;
}

.imgLogoFooter {
    margin-bottom: 20%;
}
.imgLogoFooter img{
    width: 240px;
    height: 80px;
}
.txtLogoFooter {
  position: absolute;
    left: 11%;
    margin-bottom: 20%;
}

hr {
    display: flex;
    flex-direction: column;
    width: 130px;
    border: 0.1px solid black;
    transform: rotate(90deg);
}

.paginasFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    font-family: 'Inter', sans-serif;
    gap: 0;
    margin-bottom: 30%;
    padding-left: 0;
    text-decoration: none;
    
}

.paginasFooterInsti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    gap: 0;
    margin-bottom: 45%;
    padding-left: 0;
    
}

.footer li {
    align-self: flex-start;
    display: flex;
    font-size: 14px;
    margin-top: 6%; 
    text-decoration: none;
   
} 

.footer a {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.footer li:hover {
    cursor: pointer;
    color: #1B1E2B;
} 




/* Fim do css do footer */
