/* TELA DE LOGIN E CADASTRO */ 
body {
    margin: 0;
    background: #76c3cf;
}

header {
 background-color: #76c3cf;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagemLogo{
    width: 50%;
    /* height: 20%; */
    /* margin-top: 25%;
    margin-left: 25%; */
    padding-bottom: 5%;
}


    /* Formulário */
.input {
    font-family:'Encode Sans Condensed', sans-serif;
    width: 260px;
    border: 0;
    border-bottom: 2px solid #BAB372;
    outline: 0;
    font-size: 70%;
    color: #000000;
    padding: 1% 0;
    background: transparent;
    transition: border-color 0.2s;
   margin-right: 5%;
  }
  
  input:placeholder {
      color: transparent;
  }
  
  input:placeholder-shown ~ .input_label {
      font-size: 20px;
      cursor: text;
      top: 20px;
  }
  
  .input:required, .input:invalid {
      box-shadow: none;
    }
  
  .input_label {
      position: absolute;
      margin-bottom: 0;
      display: none;
      transition: 0.2s;
      font-size: 20px;
      color: #000;
  }
  
  .input:focus {
      padding-bottom: 1%;
      font-weight: 500;
      border-width: 3px;
      border-image: linear-gradient(to right, #BAB372, #BAB372);
      border-image-slice: 1;
  }

  .input:focus ~ .input_label {
      position: absolute;
      margin-bottom: 0;
      display: inline;
      transition: 0.2s;
      font-size: 75%;
      color: #BAB372;
      font-weight: 500;
  }

    /* Botões */
    .botoesTexto{
        display: flex;
        /* flex-direction: column;
        margin-top: 7%; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 9%;
        font-weight: 100;
        
    }
    
    .botoesLoginCadastro{
        display: flex;
        flex-direction: row;
        margin-bottom: 6%;
        align-items:baseline;
        margin-right: 5%;
        width: 140px;
    }
    
    .botaoLogin {
        background: #BAB372;
        border: none;
        border-radius: 20px;
        width: 90%;
        
        padding: 4% 1%; 
        /* font-size: 90%; */
        margin-right: 2px;
    }

    .cadastrar {
        color: #000000;
        text-decoration: underline;
        font-size: 80%;
    }



/* TELA DE CADATRO */ 
.containerCadastro{
    display: flex;
    /* margin-left: 15%; */
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}

.cardCadastro {
    background: #499EAE;
    width: 170%;
    /* height: 700px; */
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
    position: relative;
    display: flex;
    align-items: center;
}

.formCadastro{
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 165%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 14pt;
    font-weight: 500;
    height: 232px;
    margin-bottom: 5%;
}

.camposCadastro{
    padding-right:2px;
    width: 100%;
    /* height: 800px; */
    /* margin-left: 6%; */
    margin-top: 6%;
} 

.inputsCadastro {
    padding: 1px;
    margin-bottom: 5%;
    width: 2%;
    font-size: 120%;
}

.botoesLoginCadastro a{

}

    /* Formulário */
.formCadastro{
    display: flex;
    flex-direction: column;
    background: #f5f1e6;
    width: 40%;
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-top: 34px;
    font-size: 110%;
    height: 400%;
    font-weight: 500;
}

    /* representante */
.telaRepresentante{
    height: 700px;
    width: 50%;
    background-color: #f5f1e6;
}





/* TELA DE LOGIN */
.container{
    display: flex;
    /* margin-left: 15%; */
    margin-top: 40px;
    width: 50%;
    align-items: center;
}

.cardLogin {
    background: #499EAE;
    width: 1048px;
    height: 370px;
    box-shadow: 5px 5px 20px 10px  rgba(0, 0, 0, 0.582);
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

     /* Formulário */
.campos{
    margin-left: 3%;
    /* margin-top: 7%; */
    flex-direction: column;
    display: flex;
} 

.inputs {
    padding: 15px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 150%
}

.textoRecuperar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-right: 10%;
}

.textoRecuperar a {
    color: #000;
    font-size: 15px;
}

.form{
    background-color: #f5f1e6;
    height: 324px;
    width: 905px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBotoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -34px;
}