
*{
    margin: 0;
    padding: 0;
}


.cabecalho img {
    padding-left: 0;
    padding-top: 3%;
}
.saibaMais {
    display: flex;
    flex-direction: column;
   
}

.tituloSaiba {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: white;
    margin-left: 10%;
    margin-bottom: 7%;
}

.containerSaiba {
    display: flex;
    flex-direction: row;
    gap: 37px;
    margin-left: 10%;
    
}

.caixasSaiba {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #288396;
    border-radius: 15px;
    align-content: center;
    padding-bottom: 50px;
}

img {
    width: 60%;
    height: 40%;
    padding-top: 10%;
    padding-left: 19%;
}

.pSaiba {
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 3%;
}