@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




/* Começo do css da página inicial*/
*{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    position: sticky;
    top: 0;
    padding: 1px 0;
    background-color: #558498;
    z-index: 10;
}
.body_index{
    background:
    linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.253))repeat,
    url('../img/backgroundNovo.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;  
    height: 100%;
    margin: 0;
}


.cabecalho {
    margin: 20px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky; */
}

#logo {
    width: 30%;
    height: 30%;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu {
    width: 60%;
}

 a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 15pt;
    font-weight: 400;
}

ul img{
    width: 65%;
    height: 50%;
}

.caixa_titulo {
    display:  flex;
    flex-direction: column;
    margin-top: 100px;
    width: 45%;
    margin-left: 15%;
    padding: 10px;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 500;
    color: #ffffff;
}
.titulo {
    font-size: 50px;
    margin-bottom: 17px;
}

.btn_saibaMais {
    font-size: 25px;
    width: 45%;
    height: 45px;
    /* margin-left: 20px; */
    /* padding: 9px; */
    margin:0;
    border: none;
    border-radius: 20px;
    background-color: #288396;
    color: #ffffff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.192);
    margin-bottom: 450px;
    text-decoration: none;
}

/* Fim do css da página inicial */


/* Começo do css da página de beneficios */



.containerBeneficios{
    display: flex;
    flex-direction: column;
    
}

.caixabeneficios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #288396;
    width: 100%;
    color: white;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 2%;
}

.caixabeneficios img{
    width: 20%;
    height: 35vh;
}

.caixabeneficios p{
    font-weight: 400;
    width: 30%;
   
}
.caixabeneficios span{
    
    font-weight: 600;
}


/* Fim do css da página de beneficios */

/* Começo do css da página de sobre nós */

#sobreNos {
    width: 100%;
    margin: auto;

}

#divBeneficios {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
}

#divBeneficios h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#idTitulo{
    color: white;
    font-weight: 500;
    margin-top: 10%;
    font-size: 300%;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
}

#divQuemSomos {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 120px 90px 1px;
    width: 100%;
    gap: 120px;
}

#divQuemSomos h1 {
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

#divQuemSomos p {
    border: 3px rgba(255, 255, 255, 0.4) solid;
    font-size: 18px;
    /* color: #ffffff; */
    width: 100%;
    padding: 7%;
    margin-left: 15%;
    /* text-align: center; */
    border-radius: 20px;
}
#ParagrafoSobre{
    width: 26%;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

#divFotos {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    
}

#divFotos img {
    width: 200px;
    height: 200px;
}

#divFotos #fotoGrande {
    width: 250px;
    height: 250px;
}

#divContent {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardSobre {
    flex-direction: column;    
    justify-content: center;
    width: 18%;
    height: 370px;
    background-color: #d9d9d9c9;
    border-radius: 25px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.cardSobre h1 {
    display: flex;
    font-size: 15px;
}

.cardSobre img {
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}


@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    30% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }

}

.pic-ctn {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 70px;
}

.pic-ctn>img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
    border-radius: 100px;
    background-color: #d9d9d970;
}

img:nth-child(2) {
    animation-delay: 2s;
}

img:nth-child(3) {
    animation-delay: 4s;
}

img:nth-child(4) {
    animation-delay: 6s;
}

img:nth-child(5) {
    animation-delay: 8s;
}

img:nth-child(6) {
    animation-delay: 10s;
}

img:nth-child(7) {
    animation-delay: 12s;
}


/* Fim do css da página de contato */

/* Começo do css do footer */


.footer {
    background-color: #8BC3DE;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
    text-decoration: none;
    color: #000000;
}
/* .logoFooter{
    width: 85%;
    height: 85%;
} */

.footerConteudo {
    width: 88%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    color: #000000;
}

.logoFooter {
    display:flex;
    flex-direction: column;
    gap: 0;
    
    padding-left: 0;
}

.imgLogoFooter {
    margin-bottom: 20%;
    
}
.imgLogoFooter img{ 
    width: 240px;
    height: 80px;
}


.txtLogoFooter {
  position: absolute;
    left: 11%;
    margin-bottom: 20%;
}

hr {
    display: flex;
    flex-direction: column;
    width: 130px;
    border: 0.1px solid black;
    transform: rotate(90deg);
    /* margin-top: 50%;
    margin-bottom: 50%; */
}

.paginasFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    font-family: 'Inter', sans-serif;
    gap: 0;
    margin-bottom: 30%;
    padding-left: 0;
    text-decoration: none;
    
}

.paginasFooterInsti {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    gap: 0;
    margin-bottom: 45%;
    padding-left: 0;
    
}

.footer li {
    align-self: flex-start;
    display: flex;
    font-size: 14px;
    margin-top: 7%; 
    text-decoration: none;
   
} 

.footer a {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.footer li:hover {
    cursor: pointer;
    color: #1B1E2B;
} 




/* Fim do css do footer */
